body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 2.5%;
}

a:hover, .word:hover {
    transition: 0.3s;
    color: lightskyblue;
}

.container {
    margin: auto;
    width: 50%;
    padding: 2%;
}

.content {
    margin: 0 auto;
}

img {
    width: 40%;
    object-fit: contain;
}

.nav-link {
    font-weight: bold; 
    font-size: 20px; 
    color: black;
}

/* custom underlining so not all parts of link are underlined */
.word {
    text-decoration: underline; 
}


#name {
    font-size: 30px;
}

#name:hover {
    color: inherit;
}

.card {
    min-height: 20rem;
}