body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 2.5%;
}

a:hover, .word:hover {
    transition: 0.3s;
    color: lightskyblue;
}

.container {
    margin: 2.5% 3%;
}

.nav-link {
    font-weight: bold; 
    font-size: 20px; 
    color: black;
}

/* custom underlining so not all parts of link are underlined */
.word {
    text-decoration: underline; 
}

.content {
    width: 50%;
    margin: 0 auto;
}

#name {
    font-size: 30px;
}

#name:hover {
    color: inherit;
}